name: "Validate"
on:
  pull_request:
  push:
    branches:
      - main
permissions:
  contents: write

jobs:
  validation:
    name: "Gradle Wrapper Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v3

  build:
    name: "Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.0.1
        with:
          dependency-graph: generate-and-submit

      - name: Execute Gradle build
        run: ./gradlew build